@font-face{
	font-family: system;
	src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

:root {
    --right-section-height: 33%;
    --right-section-padding: 18px;
    --top-color: #FAEBD7;
    --middle-color: white;
    --bottom-color: #FAEBD7;
    font-size: 16px;
    font-family: system;
}

body {
    display: flex;
    height: 100vh;
}

.left {
    background: url(./jeremy.jpg) center;
    flex: 1 1 auto;
    max-width: 35%;
    position: relative;
}

.left>span {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 20px;
    color: white;
    font-size: x-small;
}

.left>span a {
    color: white;
    text-decoration: none;
}

.logo-background {
    position: absolute;
    top: 45%;
    width:100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Only works if there is space left over to justify*/
    align-items: center;
    background-color: rgb(240, 248, 255, 0.4);
}

.logo-background img {
    flex: 1;
    max-width: 100px /* Max-width necessary so justify-content can work*/
}

.logo-background span {
    flex: 1;
    max-width: 200px; /* Max-width necessary so justify-content can work*/
    font-family: 'Redressed', cursive;
    font-size: 1.5rem;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top {
    background-color: var(--top-color);
    height: var(--right-section-height);
    display: flex;
    align-items: center;
    line-height: 1.8;
    padding: var(--right-section-padding);
}

.middle {
    background-color: var(--middle-color);
    height: var(--right-section-height);
    overflow: auto;
    box-shadow: 5px 10px 10px lightgray;
    z-index: 1;
    padding: var(--right-section-padding);
}

/* Make it consistent with the rest of the page */
button, input {
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  outline: none;
}

form {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 14px;
}

form>div {
    padding-top: 10px;
    flex-basis: 40%;
    min-width: 200px;
    min-height: 50px;
    margin: auto 0;
}

.caption {
    flex-basis: 100%;
    font-size: large;
    font-weight: bold;
}

label, input {
    display: block;
}

input {
    padding: 10px 3px;
    width: 100%;
}

.bottom {
    background-color: var(--bottom-color) ;
    height: var(--right-section-height);
    padding: var(--right-section-padding);
}

button {
    padding: 14px 24px;
    border: none;
    border-radius: 3px;
    background-color: #268080;
    box-shadow: 1px 2px 10px lightgray;
    display: block;
    margin: 20px 0 20px 0;
    color: white;
}

input:focus {
    border: 3px solid lightgray;
    border-radius: 5px;
}

.requirement {
    opacity: 0;
}

input:not(:placeholder-shown):invalid {
    border: 3px solid red;
    border-radius: 5px;
}

input:not(:placeholder-shown):valid{
    border: 3px solid #268080;
    border-radius: 5px;
}

[class$="Requirement"]{
    color: red;
    font-size: 12px;
}


@media screen and (min-width: 1000px) {
    .logo-background span {
       font-size: 3rem;
    }
}